<%= form_with(model: aluno) do |form| %>
  <% if aluno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
        <% aluno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :serie, style: "display: block" %>
    <%= form.text_field :serie %>
  </div>

  <div>
    <%= form.label :turno, style: "display: block" %>
    <%= form.text_field :turno %>
  </div>

  <div>
    <%= form.label :data_nascimento, style: "display: block" %>
    <%= form.date_field :data_nascimento %>
  </div>

  <div>
    <%= form.label :pai, style: "display: block" %>
    <%= form.text_field :pai %>
  </div>

  <div>
    <%= form.label :mae, style: "display: block" %>
    <%= form.text_field :mae %>
  </div>

  <div>
    <%= form.label :responsavel, style: "display: block" %>
    <%= form.text_field :responsavel %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
